<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>TUWEB</title>
    <link rel="icon" href="../FAVICON.jpg">
</head>
<body>
    <!--Barra de navegación de la página-->
    <header>
        <nav>
            <h1 class="t1">Diseñamos Web</h1>
            <div class="links-navbar" id="links-navbar"></div>
            <button class="btn-cambiar-tema" id="cambiar-tema">
                <img class="icono" id="icono-dark" src="../assets/images/moon-svgrepo-com.svg" alt="icono para el cambio de tema">
                <img class="icono" id="icono-light" src="../assets/images/sun-svgrepo-com.svg" alt="icono para el cambio de tema">
            </button>
        </nav>
    </header>
    
    <!--Cuerpo de la página-->
    <main>
        <a href="#">
            <img src="../assets/images/flechaIcono.svg" alt="icono flecha" class="icono-top">
        </a>

        <!--Secciones de la página Galería-->
        <section class="section" id="proyectos">
            <h2 class="titulo">Galería de Proyectos</h2>

            <!--Galería dinámica de la página-->
            <div class="grid-2" id="grid-2"></div>
        </section>
    </main>

    <!--Pie de página-->
    <footer class="pie_pagina">
        <div class="grupo_1">
            <div class="box">
               <figure>
                   <a href="#">
                       <img src="../assets/images/curriculum-resume-svgrepo-com.svg" alt="Logo">
                   </a>
               </figure>
            </div>
            <div class="box">
               <h2>SOBRE NOSOTROS</h2>
               <p>Cobertura a nivel nacional. España, Zaragoza</p>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, maxime.</p>
            </div>
            <div class="box">
               <h2>SIGUEME</h2>
               <div class="red_social">
                   <a href="#" class="fa fa-facebook"></a>
                   <a href="#" class="fa fa-instagram"></a>
                   <a href="#" class="fa fa-twitter"></a>
                   <a href="#" class="fa fa-youtube"></a>
               </div>
            </div>
        </div>
        <div class="grupo_2">
            <small>&copy; 2023 <b>SLee Dw</b> - Todos Los Derechos Reservados</small>
        </div>
    </footer>

    <!--JavaScript-->
    <script src="../js/navbar.js"></script>
    <script src="../js/proyectos.js"></script>
    <script src="../js/tema.js"></script>
    <!--Iconos redes sociales-->
    <script src="https://kit.fontawesome.com/379c8e0fd1.js" crossorigin="anonymous"></script>
</body>
</html>